.music-data {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.music-data h5 {
  color: #313d5a;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  padding-right: 10px;
  width: 150px;
}

.music-data audio {
  margin-right: 30px;
}

.music-data label {
  align-items: center;
  color: #313d5a;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.music-data input {
  height: 18px;
  margin-right: 7px;
  width: 18px;
}
